<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gclass=""</title>
 
  <!-- <link rel="stylesheet" media="screen and (max-width: 480px)" href="mobile.css"> -->
  <link rel="stylesheet" href="style.css">
  <link rel="manifest" href="/manifest.json">

</head>
  <style>
    
  </style>
  <body>
     <h1>dhhdhdhdheheh</h1>
<h1><%= message %></h1>
    <h1>hshshshsheh</h1>
  </body>
</html>